types:
  app:
    glob: "/storage/logs/hosts/*/*/*/app*/production.log-*"
    format: "app"
  work:
    glob: "/storage/logs/hosts/*/*/*/work*/production.log-*"
    format: "work"
  zuora:
    glob: "/storage/logs/hosts/*/*/*/app*/zuora.log-*"
    format: "app"
default_type: app
