types:
  app:
    glob: "/storage/logs/hosts/*/*/*/*app*/production.log-*"
    format: "app"
  work:
    glob: "/storage/logs/hosts/*/*/*/work*/production.log-*"
    format: "work"
  json:
    format: json
    glob: /Users/*/storage/logs/hosts/*/*/*/*app*/production.log-*.json
default_type: app
concurrency_limit: 10
