types:
  app:
    glob: "/storage/logs/hosts/*/*/production.log-*"
    format: "app"
  work:
    glob: "/storage/logs/hosts/*/*/*/work*/production.log-*"
    format: "work"
  json:
     glob: "/storage/logs/hosts/*/*/*/*app*/production.log-*"
     format: "json"
default_type: app
